@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');






#root {
  margin: 0 auto;
 height: auto;
  text-align: center;
  background: #968484;
  font-family: 'IBM Plex Sans', sans-serif;
background: linear-gradient(180deg,rgba(150, 132, 132, 1) 0%, rgba(209, 83, 34, 1) 60%, rgba(112, 43, 16, 1) 100%);

}

* {
  font-family: 'IBM Plex Sans', sans-serif;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}




.border-1 {
  border-width: 1px;
  border-style: solid;
}

.border-white-40 {
  border-color: rgba(255, 255, 255, 0.4);
}

.read-the-docs {
  color: #888;
}
